html { 
	font-family: "Helvetica Neue",Helvetica, sans-serif;
	/*谷歌浏览器字体最小字体12px*/
	-webkit-text-size-adjust: 100%;/*100%/none 关闭字体大小自动调整功能*/
	/*a标签及拥有 :active伪类的元素有默认的高亮框*/
	-webkit-tap-highlight-color: transparent;
	/*禁止文本被选中*/
	-webkit-user-select: none;
}
body{
	overflow-x:hidden;
	/*开启moblie网页快速滚动和回弹的效果*/
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	display:block;
	width: 100%;
	color: #333;
	text-decoration: none;
}

img{
	border: 0;
	width:100%;
	display: block;
	vertical-align: middle;
}
input{
	-webkit-appearance: none;
	outline: none;
	border: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
li,ol{
	list-style:none;
}
/*雪碧图*/
.sprite-icon{
	display:inline-block;
	background:url("../images/jd-sprites.png") no-repeat;
	background-size:200px 200px;
}
/*分割线*/
a.line,.topLine{
	position:relative;
}

a.line:after,.topLine:after{
	content: "\20";
	position: absolute;
	right: 0;
	top: 0;
	background:#ccc;
}
a.line:after{
	height:100%;
	width:1px;
	-webkit-transform:scaleX(0.5);
	transform:scaleX(0.5);
}
.topLine:after{
	width:100%;
	height:1px;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
}
.jd-1px-line-up {
    height: 0;
    border-width: 1px 0 0;
    border-top: 1px solid #bfbfbf;
    -webkit-border-image: url("../images/boder.gif") 2 0 stretch;
    -o-border-image: url("../images/boder.gif") 2 0 round;
    border-image: url("../images/boder.gif") 2 0 round;
}